@model IEnumerable<ControleDeEstoque.Web.Models.MateriaPrima>

@{
    Layout = "~/Views/Shared/_LayoutList.cshtml";
    ViewBag.Title = "Matérias Primas";
}

<div id="addbutton" class="col-sm-6 text-right"> <a class="btn btn-outline btn-primary" href="@Url.Action("Create")">Adicionar Novo</a></div>

<div class="dataTable_wrapper">
    <table class="table table-striped table-bordered table-hover" id="tabela">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CAS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoInterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NCM)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Densidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CAS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CodigoInterno)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NCM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Densidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.MateriaPrimaID }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = item.MateriaPrimaID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
