@model ControleDeEstoque.Web.Models.ModelViewFabricacao

@{
    Layout = "~/Views/Shared/_LayoutForm.cshtml";

    ViewBag.Title = "Produção";
    ViewBag.Action = String.Concat(Model.OrdemFabricacao.LoteID, " - ", Model.OrdemFabricacao.PreProduto.Nome);

    ViewBag.Panel = "success";
        
    int count = 0;
}
@section estilos{
    <style>
        .panel-heading {
            font-weight: bold;
        }
    </style>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)

    <input type="hidden" name="OrdemFabricacao.LoteID" value="@Model.OrdemFabricacao.LoteID" />

    <div class="form-group">
        @Html.LabelFor(model => model.OrdemFabricacao.DataProducao, new { @class = "control-label col-md-3" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.OrdemFabricacao.DataProducao)
            @Html.ValidationMessageFor(model => model.OrdemFabricacao.DataProducao)
        </div>
    </div>

    <div class="dataTable_wrapper">
        <table class="table table-striped table-bordered " id="tabela">
            <thead>
                <tr>
                    <th>
                        Produto
                    </th>
                    <th>
                        Quantidade Produzida
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrdemFabricacao.PreProduto.Produtos.OrderBy(x => x.Litros))
                {
                    <tr>
                        <td class="col-sm-6" style="vertical-align: middle">
                            <input type="hidden" name="estoques[@count].LoteID" value="@Model.OrdemFabricacao.LoteID" />
                            <input type="hidden" name="estoques[@count].ProdutoID" value="@item.ProdutoID" />
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td class="col-sm-6">
                            <div class="col-sm-5">
                                <input type="number" name="estoques[@count].QuantidadeProduzida" value="0" min="0" max="1000" class="form-control " />
                            </div>
                        </td>
                    </tr>
                    count++;
                }
            </tbody>

        </table>
    </div>
    <!-- /.table-responsive -->
    <div class="form-group">
        <div class="col-md-12 text-right">
            <input type="submit" value="Salvar" class="btn btn-outline btn-success btn-block" />
        </div>
    </div>

}
