@model ControleDeEstoque.Web.Models.Estoque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estoque</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrdemFabricacao.LoteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrdemFabricacao.LoteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeProduzida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeProduzida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeDisponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeDisponivel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
