@model ControleDeEstoque.Web.Models.Estoque

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Estoque</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ProdutoID)

        @Html.HiddenFor(model => model.LoteID)

        <div class="form-group">
            @Html.LabelFor(model => model.QuantidadeProduzida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantidadeProduzida)
                @Html.ValidationMessageFor(model => model.QuantidadeProduzida)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.QuantidadeDisponivel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.QuantidadeDisponivel)
                @Html.ValidationMessageFor(model => model.QuantidadeDisponivel)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
