<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex, nofollow">
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/images/favicon.ico")">
    <title>@ViewBag.Title - Controle de Estoque</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    @Styles.Render("~/Content/sbadmin/css")
    <style>
        .navbar-brand {
            padding: 0px 15px;
        }

            .navbar-brand > img {
                display: inline-block;
                margin-top: 2px;
                height: 46px;
            }
    </style>
    @RenderSection("estilos", required: false)

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="@Url.Content("~/Content/images/logo.png")" /> <span>Produção - Registro de Lotes Fabricados - Entradas e Saídas</span></a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        @*<li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>*@
                        <li>
                            <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">

                        <li>
                            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard fa-fw"></i> Inicio</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-columns fa-fw"></i> Produtos<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>@Html.ActionLink("Pre Produtos", "Index", "PreProduto")</li>
                                <li>@Html.ActionLink("Produtos", "Index", "Produto")</li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "OrdemFabricacao")"><i class="fa fa-file-o fa-fw"></i> Ordens de Fabricação</a>
                        </li>
                        <li>
                            <a href="@Url.Action("SelecionarLote", "Estoque")"><i class="fa fa-tint fa-fw"></i> Produção</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Estoque")"><i class="fa fa-th fa-fw"></i> Estoque</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProdutosComEstoque", "Expedicao")"><i class="fa fa-truck fa-fw"></i> Expedição - Lista</a>
                        </li>
                        <li>
                            <a href="@Url.Action("BuscaRapida", "Expedicao")"><i class="fa fa-truck fa-fw"></i> Expedição - Busca Rápida</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Relatórios<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                @* Informar os dias em que esse lote foi entregue *@
                                <li>@Html.ActionLink("Saídas por Lote", "SaidasPorLote", "Relatorios")</li>
                                <li>@Html.ActionLink("Estoque por Lote", "EstoquePorLote", "Relatorios")</li>
                                @* Produtos/Lotes produzidos no mes *@
                                <li>@Html.ActionLink("Simplificado de Fabricação", "FabricadosPorPeriodo", "Relatorios")</li>
                                <li>@Html.ActionLink("Detalhado de Fabricação", "FabricadosPorPeriodoDetalhado", "Relatorios")</li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Controle de Estoque", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Pre Produto", "Index", "PreProduto")</li>
                            <li>@Html.ActionLink("Produto", "Index", "Produto")</li>
                            <li>@Html.ActionLink("Ordem Fabricação", "Index", "OrdemFabricacao")</li>
                            <li>@Html.ActionLink("Fabricação", "SelecionarLote", "Estoque")</li>
                            <li>@Html.ActionLink("Estoque", "Index", "Estoque")</li>
                            <li>@Html.ActionLink("Expedição", "Index", "Expedicao")</li>
                        </ul>
                    </div>
                </div>
            </div>*@

        <div id="page-wrapper">
            @RenderBody()
        </div>

    </div>

    @Scripts.Render("~/bundles/sbadmin/js")

    @*<script>
        $(document).keypress(function (event) {
            if (event.which == '13') {
                event.preventDefault();
            }
        });

    </script>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

</body>
</html>
