@model ControleDeEstoque.Web.Models.PreProduto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PreProduto</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sigla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sigla)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PreProdutoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
